body {
    background-color: #EBEEF2;
    font-family: "Nunito", sans-serif;
    margin: 1vmax;
    color: #012340;
}
main {
    height:200vh;
}

main h1 {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

h1 {
    font-family: "Shadows Into Light";
    border-bottom: 2px;
    border-color: #7d2d22;
    font-size: 400%;
}

h2 {
    font-size: 300%;
}

div {
    margin: .5rem;
    border-radius: 1rem;
}

header {
    padding: 20px;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    display: flex;
    background-color: #012340;
    color: #EBEEF2;
    border-radius: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

section {
    border-radius: 1rem;
    background-color: #99c8f2;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
}

section div {
    padding: 1rem 0;
    text-align: justify;
}

section div h1 {
    align-content: center;
}

section div p {
    font-size: 144%;
    margin: 3rem;
    line-height: 2;
    text-indent: 4rem;
}

header h1 {
    width: 50%;
    flex: 1 2 1;
    padding-left: 5rem;
}

header div {
    text-align: center;
    width: 33%;
    display: flex;
}

header div ul {
    padding-inline-start: 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    display: flex;
}

header div ul li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 200%;
}

.projects-container {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-container img {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    background-color: #012340;
    flex: auto;
}

.projects-container img:hover {
    box-shadow:
    0 0 20px 0px #EBEEF2, 
    0 0 100px 10px #99c8f2;
}

#about-heading-div {
    margin:0;
    padding:0;
}

#about-heading-div h1 {
    padding-left: 10rem;
    margin:0;
    margin-top:1rem;
}

#about-img-container {
    padding: 1rem;
    display: flex;
    align-items: center;
}

#about-me-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 33vw;
}

#about-div {
    justify-content: center;
    align-items: center;
}

#about-div p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
